<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <title>MIKA GPT</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.10/purify.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/python.min.js"></script>
</head>
<body>
    <div id="container_main">
        <div id="sidebar">
            <div id="logo">MikaGPT</div>
            <!-- <div>List of conversations</div> -->
            <button id="button_new_conversation">+</button>
            <div id="conversations"></div>
        </div>
        <div id="container_chat">
            <div id="messages"></div>
            <input type="file" id="input_file" accept="image/*">
            <div id="container_input">
                <textarea id="input_user" tpe="text" placeholder="Chat with MikaGPT..."></textarea>
                <button id="button_send" disabled="true">:D</button>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>